<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Successful</title>
    <link rel="stylesheet" href="static/styles/success.css">
</head>
<body>
    <div class="container">
        <div class="success-animation">
            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
            </svg>
        </div>
        <div class="message">Payment Successful!</div>
        <div class="details">
            <p>Thank you for your interest in <strong>TechnoFusion 2K24</strong>.</p>
            <p>You will get your confirmation ticket on mail shortly.</p>
            <p>Click the button below to join the WhatsApp group for further updates about the event:</p>
        </div>
        <a href="https://chat.whatsapp.com/EigAuJjtkAL2YWZEN8UzQP" class="whatsapp-button" id="whatsapp-link" target="_blank">Join WhatsApp Group</a>
        <div class="countdown hidden" id="countdown">
            <p>Redirecting you back in <span id="timer">3</span>...</p>
        </div>
    </div>
    <script src="static/styles/index.js"></script>
</body>
</html>
